.title {
  text-align: center;
}

.link {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 0.3rem 0.6rem;
  margin: 1rem 0 2rem;
  border: 2px solid white;
  border-radius: 0.5rem;
  cursor: pointer;
}
